@keyframes show-process {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transition: scale(1);
  }
}

.process {
  @extend %home-items;
  bottom: 0;
  padding-bottom: $footer-height;
  background-color: #f5f5f7;
  font-size: 0;

  .step-icons {
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 0;

    &_crowdsale-page {
      top: 10px;
    }
  }

  .process-item {
    opacity: 0;
    animation-name: show-process;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    padding: 130px 10px 0;
    box-sizing: border-box;
    text-align: center;

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        animation-delay: #{200 * $i}ms;

        &:after {
          content: "#{$i}";
        }
      }
    }

    &:after {
      position: absolute;
      width: 32px;
      height: 32px;
      right: 28px;
      top: -16px;
      border-radius: 50%;
      border: 4px solid #fff;
      background-color: #08b3f2;
      color: #fff;
      line-height: 32px;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .title {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }

  .description {
    color: #8197a2;
    line-height: 18px;
    font-size: 12px;
  }
}
