{
  "extends": [
    "react-app",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "dependencies"
  ],
  "rules": {
    "no-control-regex": 0,
    "dependencies/no-cycles": "error",
    "dependencies/no-unresolved": ["error", {
      "ignore": ["web3"]
    }]
  }
}
