[submodule "src/components/oracles-combine-solidity"]
	path = src/components/oracles-combine-solidity
	url = https://github.com/oraclesorg/oracles-combine-solidity
[submodule "/Users/viktor/Documents/HintsProjects/BlockNotary/Oracles/ico-wizard-myfork/src/components/token-market-net-ico"]
	path = /Users/viktor/Documents/HintsProjects/BlockNotary/Oracles/ico-wizard-myfork/src/components/token-market-net-ico
	url = https://github.com/TokenMarketNet/ico
