@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700');

body {
    -webkit-font-smoothing: antialiased;
    color: $base-text-color;
    font-family: Nunito, sans-serif;
    font-size: $base-font-size;
}