@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700');

body {
    -webkit-font-smoothing: antialiased;
    color: #4a4a4a;
    font-family: Nunito, sans-serif;
    font-size: 16px;
}