.crowdsale {
  @extend %home-items;
  top: 0;
  padding-top: $header-height;
  text-align: center;

  .container {
    padding: 0 40px;
    box-sizing: border-box;
  }

  .title {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
  }

  .description {
    margin-bottom: 25px;
    color: #8197a2;
    line-height: 24px;
    font-size: 13px;
  }

  .buttons {
    font-size: 0;
  }

  .button {
    margin: 0 10px;
  }
}
