.white-list {
  &-container {
    margin-bottom: 40px;
  }
  &-input-property {
    &-left {
      display: table-cell;
      vertical-align: top;
      padding-right: 5px;
      width: 42%;
    }

    &-middle {
      display: table-cell;
      vertical-align: top;
      padding-left: 5px;
      padding-right: 5px;
      width: 29%;
    }

    &-right {
      display: table-cell;
      vertical-align: top;
      padding-left: 5px;
      width: 29%;
    }
  }

  &-input-container {
    margin-bottom: 20px;
    display: table;
  }

  &-item {
    display: table-cell;
    height: 60px;
    line-height: 60px;

    &-left {
      padding-right: 5px;
      width: 42%;
    }

    &-middle {
      padding-left: 5px;
      padding-right: 5px;
      width: 29%;
    }

    &-right {
      padding-left: 5px;
      width: 29%;
    }

    &-empty {
      display: table-cell;
      width: 56px;
    }

    &-container {
      font-weight: bold;
      border-top: 1px solid #eee;
      display: table;
      width: 100%;

      &-last {
        border-bottom: 1px solid #eee;
      }

      &-inner {
        display: table;
        width: 100%;
      }

      &.to-be-removed {
        font-weight: normal;
        color: orange;
        text-decoration: line-through;
      }

      &.no-style {
        font-weight: normal;
        color: #555555;
      }

      &.duplicated {
        padding-bottom: 15px;
        border-top: 1px dashed orange;
        margin-top: -15px;

        span {
          line-height: 30px;
          height: 12px;
        }
      }
    }
  }
}
