.sw-BorderedSection {
    border-bottom: solid 1px $base-border-color;
    margin: 0 0 15px;
    padding: 0 0 15px;
}

.sw-BorderedSection_Title {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 8px;
    padding: 0;
}

.sw-BorderedSection_Text {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;

    &.sw-BorderedSection_Text-small {
        font-size: 16px;
    }
}

.sw-BorderedSection_Items {
    $sw-BorderedSection_Items-column-gap-xl: 90px;

    display: grid;
    grid-column-gap: $sw-BorderedSection_Items-column-gap-xl;
    grid-row-gap: 20px;

    &.sw-BorderedSection_Items-TokenSetup {
        grid-template-columns: 1fr 1fr;

        @media (min-width: $breakpoint-md) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }

    &.sw-BorderedSection_Items-CrowdsaleSetup {
        @media (min-width: $breakpoint-md) {
            grid-template-columns: 1fr 1fr;
        }
    }

    &.sw-BorderedSection_Items-TierBlock {
        grid-column-gap: 20px;
        grid-template-columns: 1fr 1fr;

        @media (min-width: $breakpoint-md) {
            grid-column-gap: $sw-BorderedSection_Items-column-gap-xl;
        }
    }

    &.sw-BorderedSection_Items-ConfigurationBlock {
        @media (min-width: $breakpoint-md) {
            grid-template-columns: 1fr 1fr;
        }
    }

}