.sw-ButtonCSV {
    @include not-selectable-text();
    background-color: transparent;
    background-position: 0 50%;
    background-repeat: no-repeat;
    border: none;
    color: #4a4a4a;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 25px;
    outline: none;
    padding: 0 0 0 25px;

    &:last-child {
        margin-bottom: 0;
    }

    @media (min-width: $breakpoint-md) {
        margin-bottom: 0;
        margin-right: 38px;

        &:last-child {
            margin-right: 0;
        }
    }

    &.sw-ButtonCSV-clearall {
        background-image: url('#{ $base-images-path }/ReservedTokensListControls/ico-delete.svg');
    }

    &.sw-ButtonCSV-uploadcsv {
        background-image: url('#{ $base-images-path }/ReservedTokensListControls/ico-upload.svg');
    }

    &.sw-ButtonCSV-downloadcsv {
      background-image: url('#{ $base-images-path }/ReservedTokensListControls/ico-download.svg');
    }

    &.m-r-0 {
        margin-right: 0;
    }

}