.sw-ButtonCopyToClipboard {
    background-color: transparent;
    background-image: url('#{ $base-images-path }/ButtonCopy/copy.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    height: 20px;
    outline: none;
    padding: 0;
    width: 16px;
}