.cs-CrowdsaleSummary {
    display: grid;
    grid-column-gap: 55px;
    grid-row-gap: 25px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 35px;
}

.cs-CrowdsaleSummary_ItemTitle {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
}

.cs-CrowdsaleSummary_ItemDescription {
    color: #919191;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    margin: 0;
}