.cs-CrowdsaleSummaryItem_Title {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
    word-break: break-all;
}

.cs-CrowdsaleSummaryItem_Description {
    color: #919191;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    margin: 0;
}