.pb-DisplayTextArea_Title {
    align-items: center;
    color: #000;
    display: flex;
    flex-flow: row;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 8px;
    padding: 0;
    white-space: normal;
    word-wrap: break-word;
}

.pb-DisplayTextArea_Content {
    background-color: #eff0f1;
    border-radius: 5px;
    color: #393318;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 20px;
    max-height: 400px;
    overflow: auto;
    padding: 15px;
    white-space: normal;

    &:last-child {
        margin-bottom: 0;
    }
}

.pb-DisplayTextArea_Description {

}