$sw-FormControlBlock_Info-dimensions: 13px !default;
$sw-FormControlBlock_RadioButton-height: 40px !default;
$sw-FormControlBlock_TextInput-height: 40px !default;
$sw-FormControlBlock_ButtonPlus-height: 30px !default;

.sw-FormControlBlock {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
    position: relative;
    z-index: 1;
}

.sw-FormControlBlock_TitleAndInfo {
    align-items: center;
    display: flex;
    margin: 0 0 5px;
}

.sw-FormControlBlock_Label {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    margin-right: 10px;
}

.sw-FormControlBlock_Info {
    align-items: center;
    background-image: url('#{ $base-images-path }/FormControlBlock/ico-info.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: $sw-FormControlBlock_Info-dimensions;
    justify-content: flex-end;
    outline: none;
    padding: 0;
    width: $sw-FormControlBlock_Info-dimensions;
}

.sw-FormControlBlock_Tooltip {
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: sw-FormControlBlock_Tooltip-animation;
    animation-timing-function: linear;
    background-color: rgba(90, 45, 165, 0.6);
    border-radius: 8px;
    border: none;
    box-shadow: 0 9px 13px 0 rgba(0, 0, 0, 0.09);
    color: #fff;
    display: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.21;
    min-width: 180px;
    padding: 12px 10px;
    position: relative;
    top: -#{ $sw-FormControlBlock_Info-dimensions + 5 };

    .sw-FormControlBlock_Info:focus & {
        display: block;

    }
}

.sw-FormControlBlock_TextInput {
    @include placeholder-color(#9b9b9b);
    @include placeholder-font-size(italic);
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px $base-border-color;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    height: $sw-FormControlBlock_TextInput-height;
    outline: none;
    padding: 0 13px;

    &:focus {
        border-color: darken($base-border-color, 10%);
    }

    .sw-FormControlBlock_TextInputAndButtonHorizontal & {
        flex-grow: 1;
        margin-right: 14px;
    }
}

.sw-FormControlBlock_Error {
    color: #880000;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 5px 0 0 3px;
}

.sw-FormControlBlock_RadioButtonsContainer {
    display: flex;
    justify-content: space-between;
}

.sw-FormControlBlock_RadioButtonLabel {
    position: relative;
}

.sw-FormControlBlock_RadioButtonInput {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 2;
}

.sw-FormControlBlock_RadioButton {
    border-radius: 6px;
    border: solid 1px $base-border-color;
    color: #4a4a4a;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 400;
    height: $sw-FormControlBlock_RadioButton-height;
    line-height: $sw-FormControlBlock_RadioButton-height;
    padding: 0 30px;
    position: relative;
    text-align: center;
    z-index: 1;

    .sw-FormControlBlock_RadioButtonInput:checked + & {
        background-color: $brand-secondary;
        border-color: $brand-secondary;
        color: #fff;
    }
}

.sw-FormControlBlock_TextInputAndButtonHorizontal {
    align-items: center;
    display: flex;
}

.sw-FormControlBlock_ButtonPlus {
    height: $sw-FormControlBlock_ButtonPlus-height;
    width: $sw-FormControlBlock_ButtonPlus-height;
    background-image: url('#{ $base-images-path }/FormControlBlock/ico-plus.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0;

    .sw-FormControlBlock_TextInputAndButtonHorizontal & {
        margin-right: 15px;
    }
}

@keyframes sw-FormControlBlock_Tooltip-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
