.hm-Home {
    @include image-retina('#{ $base-images-path }/Home/background', 'jpg');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 754px auto;
    bottom: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;

    @media (min-width: $breakpoint-sm) {
        background-position: 50% 50%;
        background-size: cover;
    }
}

.hm-Home_Scroll {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100%;

    @media (max-height: 710px) {
        height: auto;
    }
}

.hm-Home_Top {
    margin-bottom: 202px;
    padding: 24px 24px 0;

    @media (min-width: $breakpoint-md) {
        margin-bottom: 0;
    }

    @media (min-width: $breakpoint-xxl) {
        padding: 38px 0 0 42px;
    }

    @media (min-width: $breakpoint-xxxl) {
        align-self: center;
        padding-left: 0;
        width: $breakpoint-xxl;
    }
}

.hm-Home_MainInfoContainer {
    display: flex;
    flex-flow: column-reverse;
    flex-grow: 1;
    padding-bottom: 8px;

    @media (min-width: $breakpoint-xxl) {
        padding-bottom: 34px;
    }

}

.hm-Home_MainInfo {
    align-self: center;
    background-color: $brand-primary;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: 0 8px;
    padding: 30px 15px;

    @media (min-width: $breakpoint-md) {
        flex-direction: row;
        padding-left: 25px;
        padding-right: 25px;
    }

    @media (min-width: $breakpoint-xxl) {
        margin: 0;
        max-width: 1200px;
        padding: 23px 85px 31px 33px;
    }

}

.hm-Home_MainInfoButtonContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;

    @media (min-width: $breakpoint-md) {
        padding-left: 80px;
    }

    @media (min-width: $breakpoint-xxl) {
        padding-left: 230px;
    }
}

.hm-Home_MainInfoTitle {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 9px;
    text-align: center;

    @media (min-width: $breakpoint-md) {
        font-size: 36px;
        margin-bottom: 15px;
        text-align: left;
    }
}

.hm-Home_MainInfoDescription {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.44;
    margin: 0 0 3px;
    text-align: center;

    @media (min-width: $breakpoint-md) {
        font-size: 18px;
        line-height: 1.56;
        margin-bottom: 15px;
        margin-bottom: 45px;
        text-align: left;
    }
}

.hm-Home_MainInfoPoweredBy {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75;
    margin: 0 0 30px;
    text-align: center;

    & a {
        color: #fff;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    @media (min-width: $breakpoint-md) {
        margin: 0;
        text-align: left;
    }

}

$hm-Home_Btn-width: 230px;

.hm-Home_BtnNew {
    background-color: $brand-secondary;
    border: 1px solid $brand-secondary;
    border-radius: 4px;
    box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.24);
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 18px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.15s linear;
    width: $hm-Home_Btn-width;
    &:hover {
        background-color: darken($brand-secondary, 10%);
        border-color: darken($brand-secondary, 10%);
    }

    @media (min-width: $breakpoint-md) {
        margin-bottom: 36px;
    }

}

.hm-Home_BtnChoose {
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #fff;
    box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.24);
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.15s linear;
    width: $hm-Home_Btn-width;
    &:hover {
        background-color: darken($brand-primary, 10%);
    }
}