.sw-InputField {
    @include form-control-block-common();

    &.sw-InputField-ReservedTokensAddress {
        @media (min-width: $breakpoint-md) {
            grid-area: row-1-col-1;
        }
    }

    .sw-BorderedBlock-GeneralSettingsWhitelistCapped & {
        @media (min-width: $breakpoint-xl) {
            margin-bottom: 0;
        }
    }

    .sw-BorderedBlock-GeneralSettingsDutchAuction & {
        @media (min-width: $breakpoint-xxl) {
            margin-bottom: 0;
        }
    }

    .sw-BorderedBlock-TierBlocksWhitelistCapped & {
        @media (min-width: $breakpoint-md) {
            margin-bottom: 0;
        }
    }

    .sw-BorderedBlock-CrowdSaleSetupGlobalSettingsDutchAuction & {
        @media (min-width: $breakpoint-md) {
            margin-bottom: 0;
        }
    }

    .sw-WhitelistInputBlock_MinMaxFields & {
        flex-grow: 1;
        margin-right: 11px;
    }

}
