

.sw-Loader {
    display: flex;
    justify-content: space-between;
    left: 50%;
    margin: -30px 0 0 -111.5px;
    padding-top: 50px;
    position: absolute;
    top: 50%;
    width: 206px;
    &:before {
        background-image: url("#{ $base-images-path }/Loader/logo.svg");
        background-position: 0 0;
        background-repeat: no-repeat;
        content: '';
        left: 0;
        position: absolute;
        top: 0;
        height: 100px;
        width: 206px;
    }
}

.sw-Loader_AnimatedItem {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: sw-LoaderAnimation_fadeOut;
    animation-timing-function: linear;
    background-color: #fff;
    border-radius: 50%;
    height: 9px;
    opacity: .2;
    width: 9px;
    &:nth-child(2) {
        animation-delay: .1s;
    }
    &:nth-child(3) {
        animation-delay: .2s;
    }
    &:nth-child(4) {
        animation-delay: .3s;
    }
    &:nth-child(5) {
        animation-delay: .4s;
    }
    &:nth-child(6) {
        animation-delay: .5s;
    }
}

@keyframes sw-LoaderAnimation_fadeOut {
    0% {
        opacity: .2;
    }
    20% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: .2;
        transform: scale(0.3);
    }
}