.sw-NoWeb3 {
    @include image-retina('#{ $base-images-path }/NoWeb3/background', 'jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}