$sw-RadioInputField_Button-height: 40px !default;

.sw-RadioInputField {
    @include form-control-block-common();

    &.sw-RadioInputField-ReservedTokensDimension {
        @media (min-width: $breakpoint-md) {
            grid-area: row-2-col-1;
        }

        @media (min-width: $breakpoint-lg) {
            grid-area: row-1-col-2;
        }
    }

}

.sw-RadioInputField_ButtonsContainer {
    display: flex;
    justify-content: space-between;

    @media (min-width: $breakpoint-md) {
        justify-content: flex-start;
    }
}

.sw-RadioInputField_Label {
    position: relative;

    &:last-child {
        margin-right: 0;
    }

    @media (min-width: $breakpoint-sm) {
        margin-right: 5px;
    }

    @media (min-width: $breakpoint-md) {
        flex-grow: 1;
    }

    @media (min-width: $breakpoint-xxl) {
        margin-right: 23px;
    }

}

.sw-RadioInputField_Input {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 2;
}

.sw-RadioInputField_Button {
    @include radio-input-button($sw-RadioInputField_Button-height, $brand-secondary, '.sw-RadioInputField_Input');

    .sw-RadioInputField-ReservedTokensDimension & {
        @media (min-width: $breakpoint-xl) {
            padding-left: 8px;
            padding-right: 8px;
        }

        @media (min-width: $breakpoint-xxl) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}