$sw-ReservedTokensTable-gradient-width: 45px;

.sw-ReservedTokensTable {

    @include datatable-styles($sw-ReservedTokensTable-gradient-width);

    &.sw-BorderedBlock_Row2Column1 {
        @media (min-width: $breakpoint-xl) {
            grid-area: row-2-col-1;
        }
    }

}

.sw-ReservedTokensTable_Inner {

   @include datatable-inner-styles();

}

.sw-ReservedTokensTable_Table {

    @include datatable-table-styles();

}

.sw-ReservedTokensTable_Column {

    @include datatable-column-styles('.sw-ReservedTokensTable_Row');

}

.sw-ReservedTokensTable_Dimension {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35px;
    width: 35px;

    &.sw-ReservedTokensTable_Dimension-tokens {
        background-image: url('#{ $base-images-path }/ReservedTokensTable/ico-tokens.svg');
    }
    &.sw-ReservedTokensTable_Dimension-percentage {
        background-image: url('#{ $base-images-path }/ReservedTokensTable/ico-percentage.svg');
    }

}