%clear {
  display: block;
  clear: both;

  &:before,
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

%full-width {
  left: 0;
  right: 0;
}

%logos {
  @include image-2x('../images/logos@2x.png', 182px, 59px);
  display: block;
  background-image: url(../images/logos.png);
}
