.button {
  cursor: pointer;
  display: inline-block;
  transition: 0.3s background-color,
              0.3s color;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 0 15px;
  line-height: 36px;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;

  &-container {
    text-align: center;
  }

  &_fill {
    background-color: #08b3f2;
    color: #fff;

    &:hover {
      background-color: #34c3f8;
      cursor: pointer;
    }
  }

  &_disabled {
    background-color: #e6e6e6;
    color: #9c9c9c;

    &:hover {
      cursor: default !important;
    }
  }

  &_fill_secondary {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAFVBMVEX///////////////////////////9nSIHRAAAABnRSTlMASUrk5udXTd49AAAAOUlEQVR42tXQsQEAIAgDQcAn+4+snRZxAK79KokrIcNBwgYdc0Migwxk8Qsd1TJWDf/KQWobqt+9G4coA99W7as5AAAAAElFTkSuQmCC) !important;
    background-color: #64299D;
    color: #fff;

    &:hover {
      background-color: #752fb6;
    }
    margin-right: 10px;
  }

  &_fill_plus {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAFVBMVEX///////////////////////////9nSIHRAAAABnRSTlMASUrk5udXTd49AAAAOUlEQVR42tXQsQEAIAgDQcAn+4+snRZxAK79KokrIcNBwgYdc0Migwxk8Qsd1TJWDf/KQWobqt+9G4coA99W7as5AAAAAElFTkSuQmCC) !important;
    width: 36px;
    height: 36px;
    padding-left: 0 !important;
    background-position: center center !important;
  }

  &_outline {
    box-shadow: inset 0 0 0 2px #08b3f2;
    color: #08b3f2;

    &:hover {
      background-color: #08b3f2;
      color: #fff;
    }
  }
}

.plus-button-container {
  display: table-cell;
  padding-left: 20px;
  padding-top: 28.5px;
  vertical-align: top;
}

.label {
  display: block;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.input {
  transition: 0.3s border-color;
  width: 100%;
  height: 36px;
  margin-bottom: 15px;
  outline: none;
  border: 1px solid #eee;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 0 10px;
  color: #333;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;

  &:focus {
    border-color: #08b3f2;
  }

  &:disabled {
    background: #f2f2f2; 
  }
}
