.flex-table {
  .container-fluid {
    position: relative;
    width: 100%;
  }

  .table-row {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-grow: 0;
    -webkit-flex-grow: 0;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .sm-text, .text {
    flex-grow: 2;
    padding-right: 0;
  }

  .sm-text {
    flex-grow: 1;
    -webkit-flex-grow: 1;
  }

  .text {
    width: 260px;
  }

  .sm-text {
    width: 100px;
  }

  .num {
    width: 80px;
  }

  .table-row {
    border-collapse: collapse;
    padding-bottom: 15px;
    padding-top: 15px;
    align-items: center;

    &.flex-table-header {
      padding-top: 8px;
      padding-bottom: 8px;
      width: 99%;
    }
    &.selected {
      background-color: #08b3f2;
      color: #fff;
    }
    &.clickable {
      &:hover {
        cursor: pointer;
      }
    }
    &.datagrid {
      padding-bottom: 5px;
      padding-top: 5px;

      &:nth-child(even) {
        background-color: #e8e8e8;
      }
    }
  }

  .scrollable-content {
    border: 1px solid lightgray;
    min-height: 185px;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      border-left: 1px solid lightgray;
      padding: 3px;
    }
    &::-webkit-scrollbar-thumb {
      background: lightgray;
    }
  }

  .steps {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
  }
}
