.header {
  @extend %full-width;
  position: absolute;
  top: 0;
  height: $header-height;
  background-image: url(../images/bg.png);
  background-size: cover;
  background-position: center center;

  .logo {
    @extend %logos;
    width: 182px;
  	height: 35px;
    margin-top: ($header-height - 35px) / 2;
  	background-position: 0 -25px;
  }
}
