.manage {
  min-height: 600px;

  .warning-logo {
    color: #642F9C !important;
    border-color: #642F9C !important;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
  }

  .white-list-item-container {
    .remove {
      display: inline-flex;
      margin-top: 8px;
    }

    .swal2-icon {
      width: 14px;
      height: 14px;
      line-height: 14px;
      border: 2px solid transparent;
    }

    .warning-logo {
      color: orange !important;
      border-color: orange !important;
      position: relative;
      float: right;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .steps-content {
    margin-top: 30px;
  }

  .description {
    margin-bottom: 20px;
  }

  .crowdsale-page-link {
    color: #08b3f2;
    text-decoration: none;
    font-size: 13px;
  }

  .divisor {
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
  }

  .no-arrow {
    background-image: none;
    padding: 0 15px;
  }
}
