// colors
$brand-primary: #5a2da5;
$brand-secondary: #8ce1d7;
$base-border-color: #e9e9e9;
$base-text-color: #4a4a4a;
$base-text-color-light: #9b9b9b;
$fullscreen-backdrop-color: rgba(78, 44, 137, 0.9);

// modal
$sw-ModalWindow-horizontal-padding-xs: 8px;

// typography
$base-font-size: 16px;

// paths
$base-images-path: '../../assets/images';

// responsive breakpoints
$breakpoint-xs: 320px;
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1024px;
$breakpoint-xxl: 1280px;
$breakpoint-xxxl: 1366px;

// z-index
$z-index-max: 12345678;

// grid gaps
$grid-column-gap-md: 15px;
$grid-column-gap-xl: 39px;
$grid-column-gap-xxl: 74px;
$grid-column-gap-xxl: 90px;

$grid-row-gap-md: 22px;
$grid-row-gap-lg: 31px;

// home
$hm-Home_Btn-width: 230px;