$btn-ButtonMetamask-height: 58px !default;

.btn-ButtonMetamask {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    height: $btn-ButtonMetamask-height;
    outline: none;
    padding: 0;

    .sw-NoWeb3_ButtonsContainer & {
        margin-bottom: 25px;

        @media (min-width: $breakpoint-md) {
            margin-bottom: 0;
        }
    }

    &:active {
        opacity: 0.6;
    }
}

.btn-ButtonMetamask_Icon {
    @include image-retina('#{ $base-images-path }/ButtonMetamask/mm', 'png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: $btn-ButtonMetamask-height;
    position: relative;
    width: 53px;
    z-index: 5;
}

.btn-ButtonMetamask_TextContainer {
    background-color: #f68c24;
    border-radius: 3px;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 40px;
    justify-content: center;
    margin-left: -10px;
    padding: 0 15px;
    position: relative;
    text-align: left;
    z-index: 1;
}

.btn-ButtonMetamask_TopText {
    font-size: 9px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

.btn-ButtonMetamask_BottomText {
    font-size: 15px;
    font-weight: 700;
    line-height: 1.2;
}