.mng-CrowdsalesList {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.mng-CrowdsalesList_Title {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 10px 0;
}

@include radio-list-block('mng-CrowdsalesList');