.mng-ManageForm {

}

.mng-ManageForm_Title {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 10px;
}

.mng-ManageForm_BorderedBlock {
    background-color: #fff;
    border: 1px solid $base-border-color;
    border-radius: 5px;
    box-shadow: 0 9px 18px 4px rgba(224, 224, 224, 0.2);
    padding: 27px 40px 31px 34px;
}

.mng-ManageForm_ItemsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}