.sw-ReservedTokensListControls {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media (min-width: $breakpoint-md) {
        flex-direction: row;
        grid-area: row-3-col-1;
    }

    @media (min-width: $breakpoint-xl) {
        margin-bottom: -20px;
    }

}
