.sw_Select {
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px $base-border-color;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    outline: 0;
    padding: 0 10px;

    .cnt-ContributeForm & {
        margin: 0 0 25px;
    }
}