.st-StepContent {
    background-color: #fff;
    box-shadow: 0 9px 13px 0 rgba(0, 0, 0, 0.16), 0 0 9px 0 rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    margin: -130px 12px 36px;
    overflow: auto;
    padding: 25px 10px 29px;

    @media (min-width: $breakpoint-xl) {
        border-radius: 4px;
        margin: 34px 36px 34px -90px;
        padding: 41px 52px 41px 50px;
    }

}

.st-StepContent_FormFullHeight {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.st-StepContent_Buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    padding-top: 27px;
}