$sw-WhiteListTable-gradient-width: 45px;

.sw-WhiteListTable {
    @include datatable-styles($sw-WhiteListTable-gradient-width);

    .sw-BorderedBlock-TierBlocksWhitelistCapped & {
        @media (min-width: $breakpoint-md) {
            margin-top: 18px;
        }
    }

    .sw-BorderedBlock-CrowdSaleSetupGlobalSettingsDutchAuction & {
        @media (min-width: $breakpoint-md) {
            margin-top: 18px;
        }
    }
}

.sw-WhiteListTable_Inner {

    @include datatable-inner-styles();

}

.sw-WhiteListTable_Table {

    @include datatable-table-styles();

}

.sw-WhiteListTable_Column {

    @include datatable-column-styles('.sw-WhiteListTable_Row');

    &.sw-WhiteListTable_Column-center {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

}

.sw-WhiteListTable_TH {

    @include datatable-th-styles();

    &.sw-WhiteListTable_TH-min {
        text-align: center;
    }

    &.sw-WhiteListTable_TH-max {
        text-align: center;
    }
}