@import './application/variables';
@import './application/mixins';
@import './application/placeholders';
@import './application/fonts';
@import './application/base';
@import './application/header';
@import './application/footer';
@import './application/socials';
@import './application/step-icons';
@import './application/controls';
@import './application/invest';
@import './application/payment-process';
@import './application/home/*';
@import './application/steps/*';
@import './application/loading';
@import './application/flex-table';
@import './application/manage';
